body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;

  background-color: #849d8f; 
}



.button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  
  
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}



.button:hover,
button:focus {
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 25px;

  /*temp*/
  outline: 1px dashed black;

}

.navigation {
  display: flex;

  margin-bottom: 25px;
}

.header-logo {
  margin-top: 9px;
  margin-right: 10px;
}

.site-navigation-list {
  display: flex;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  margin-top: 23px;
  
  list-style: none;
}

.site-navigation-list li {
  margin: 0;
  padding: 0 14px;

}

.site-navigation-list .site-navigation-catalog:hover {
  color: #323232;
  
  background-color: #f7f6f3;
}

.site-navigation-list .site-navigation-catalog:active {
  color: #323232;
  
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.site-navigation-list a {
  color:#ffffff;
}

.header-catalog-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  
  margin: 0;
  padding: 0;

  background-color: #f7f6f3;

  list-style: none;
}

.header-catalog-list li {
  margin: 0;
  padding: 0;
}

.header-catalog-list li:first-child {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-catalog-list a {
  text-decoration: none;
  color: #323232;
}

.header-catalog-list a:hover {
  background-color: #fbded7;
}

.header-catalog-list a:active {
  background-color: #f6b5a5;
}

.user-navigation-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  width: 262px;

  margin-top: 23px;
  margin-left: auto;
  
  list-style: none;
}

.user-navigation-list a {
  text-decoration: none;

  color: #ffffff;
}


.user-navigation {
  background-color: rgba(255, 255, 255, 0.2);
}


.header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-contacts-phone { 
  font-size: 22px;
  line-height: 24px;
}

.special-promo {
  width: 560px;

  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  background-color: #4c000c; /*так сделать или не трогать фон?*/
}

.index-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.promo-raspberry {
  background-image: url('../img/promo-raspberry.jpg');
  background-repeat: no-repeat;
}

.promo-chocolate {
  background-image: url('../img/promo-chocolate.jpg');
  background-repeat: no-repeat;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-list a {
  color: #ffffff;
}


.catalog-item {
  width: 267px;

  padding: 0;
  margin: 0;
  

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}


.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
}

.catalog-item-price span {
  font-size: 30px;
}

.catalog-item .button {
  visibility: hidden;
}


.catalog-item:hover {
  
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-item:hover .button {
  visibility: visible;
}


.features {
  width: auto;

  font-size: 16px;
  line-height: 22px;
  color: #000000;

  background-color: #eee3cb;
  background-image: url(../img/features-background.jpg);
  background-repeat: repeat;
  background-position:  0 0;
}

.features p {
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
}

.features-item{
  padding-left: 60px;
}



.features-item-feature-1 {
  background-image: url('../img/features-1.svg');
  background-repeat: no-repeat;
  
}

.features-item-feature-2 {
  background-image: url('../img/features-2.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-feature-3 {
  background-image: url('../img/features-3.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}


.features-item-feature-4 {
  background-image: url('../img/features-4.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}


.new-in-blog {
  width: 560px;
  color: #323232;

  background-color: #ffffff;
  background-image: url('../img/blog-10-ways.jpg');
}

.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  
}

.blog-post {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.subscribe {
  width: 550px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  
  background-color: #f8f7f4;
  border-radius: 10px;
  border-image: url('../img/subscribe-background.png'); 
  border-image-slice: 5;
}


.contacts {
  background-image: url('../img/contacts-map.png');
  background-repeat: round; 
}

.contacts-main {
  width: 300px;
  
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

.contacts-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  color: #ffffff;
  
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form div  {
  
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list {
  list-style: none;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.main-footer {
  display: flex;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.main-footer a {
  color: #ffffff;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  
  width: 267;

  list-style: none;
}

.socials-list li {
  margin: 0;
  padding: 0;
}

.social-button {
  display: block;
  
  width: 40px;
  height: 40px;
  
  text-decoration: none;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.social-button span {
  color: transparent;
}

.social-button-twitter {
  background-image: url('../img/twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-instagram {
  background-image: url('../img/instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-facebook {
  background-image: url('../img/fb.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-vk {
  background-image: url('../img/vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.extra-info {
  width: 490px;
  margin: 0 auto;
}

.extra-info-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.extra-info-list li {

  margin-right: 30px;
}



.copyright {
  width: 267px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.copyright svg {
  width: 108px;
  height: 38px;
}

.popup {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  
  background-color: #f8f7f4;
}

.popup a {
  color: #323232;
}

.popup input,
.popup textarea {
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;
}

.popup-feedback h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.popup-feedback input {
  font-size: 16px;
  color: #999999;

  background-color: #ffffff;
}



